<div id="header">
    <%= render "shared/merchant_header" %>
</div>

 <%= link_to("Add Bulk Discount", new_merchant_discount_path(@merchant)) %><br>

<div class="section-title">
    <h3>discounts:</h3>
</div><br>

<div id='discount-list'>
    <% @merchant.bulk_discounts.each do |discount| %>
        <%= link_to("Threshold Quantity: #{discount.quantity}, Discount: #{discount.discount}%", merchant_discount_path(@merchant, discount)) %><br>
    <% end %>
</div>